div.grandSlideShow
{
	box-shadow: 4px 4px 10px 0px #000000;
	
	margin-bottom: 20px;
}
div.grandSlideShow > div.slides > div.description
{
	top: 20px;
	left: 20px;
}
div.grandSlideShow > div.slides > div.description,
div.grandSlideShow > div.wrapper
{
	background-color: rgba(44, 44, 44, .6);
}
